<!DOCTYPE html>
<html>
<head>
  <title>Try</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

 <header>
   <ul>
     <li><a href="#">Achieve</a></li>
      <li><a href="#">トップページ</a></li>
      <li><a href="#">お問い合わせ</a></li>
      <li><a href="#">ブログ</a></li>
   </ul> 
 </header>

<%= yield %>

</body>
</html>
